.idea/
node_modules/
vendor/
vendor/angular/
vendor/angular-mousewheel/
vendor/angular-unstable/
vendor/angular-mocks/
vendor/bootstrap/
vendor/font-awesome/
vendor/google-code-prettify/
vendor/hamsterjs/
vendor/jquery/